extends layout

block content
  div.row
    div.small-12.small-offset-0.medium-8.medium-offset-2.columns
      div.welcome
        p.welcome-message Welcome to JAMstack Pre-School
        button#play-button play!
      div.question-set
        for question in records.questions
          include templates/question